<!DOCTYPE html>
<html>
  <head>
    <title>Droptext</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= og_meta_tags %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="h-screen bg-slate-900 text-slate-200">
    <main class="h-full max-w-4xl mx-auto pt-10 px-8 box-border flex flex-col">
      <header class="font-bold mb-6 uppercase text-sm md:text-base">
        <%= link_to "ðŸ“ droptext.ru", root_path %>
      </header>

      <div class="grow">
        <%= yield %>
      </div>

      <footer class="text-slate-700 pt-6 pb-10 text-sm flex justify-between">
        <%= link_to t('.about'), snippet_path(token: 'about') %>
        <%= link_to t('.disclaimer'), snippet_path(token: 'disclamer') %>
        <span>Â© 2022</span>
      </footer>
    </main>
  </body>
</html>
